.Dashboard {
  height: 100%; }
  .Dashboard__Table {
    width: 100%;
    height: 100%;
    position: relative; }
  .Dashboard__Header {
    font-size: 3em;
    font-style: oblique;
    width: 100%;
    padding-left: 2%;
    display: none;
    box-sizing: border-box; }
    @media (min-width: 600px) {
      .Dashboard__Header {
        display: flex;
        justify-content: space-between; } }
  .Dashboard__Content {
    display: flex;
    flex-direction: column;
    height: 100%; }
    @media (min-width: 600px) {
      .Dashboard__Content {
        flex-direction: row; } }
  .Dashboard__Section {
    width: 100%;
    height: 100%;
    flex-shrink: 2; }
  .Dashboard__Section--Flex {
    display: flex;
    flex-direction: column; }
  .Dashboard__Section--Large {
    flex-shrink: 1;
    width: 100%; }

.Header__Title {
  width: 100%;
  font-size: 0.8em;
  flex-shrink: 1; }
  @media (min-width: 700px) {
    .Header__Title {
      font-size: 1em; } }

.Header__Options {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-shrink: 3; }
  .Header__Options__Icon {
    margin: auto auto; }

.Container {
  height: 100vh;
  box-sizing: border-box;
  padding-top: 4.5em; }

.Green {
  color: #6fdf6f; }

.Red {
  color: #ff4848; }
