.KeyInput {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 50px auto;
  transition: 0.3s;
  border-radius: 5px;
  color: rgb(0, 0, 0);

  &__Header {
    font-size: 3em;
    margin: 20px 0;
    font-style: oblique;
  }
  &__ButtonBox {
    display: flex;

    justify-content: center;
  }

  &__Icon {
    margin: auto auto;
    font-size: 2em;
    flex-shrink: 2;
    text-shadow: 0 1px rgb(255, 255, 255);
    width: 100%;
  }

  &__Input {
    color: rgb(67, 72, 87);
    font-size: 1.4em;
    margin: 30px auto;
    padding: 5px 0;
    width: 50%;
    text-align: center;
    outline-color: lightblue;
    flex-grow: 5;
  }
}


