.KeyInput {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid black; }
  .KeyInput__Header {
    font-size: 2em; }
  .KeyInput__ButtonBox {
    display: flex;
    justify-content: center; }

input {
  margin: 2em auto;
  padding: 1em 1em;
  width: 80%; }
