.KeyInput {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: auto;
  transition: 0.3s;
  border-radius: 5px;
  color: black;
  font-size: 10px; }
  @media (min-width: 600px) {
    .KeyInput {
      font-size: inherit; } }
  .KeyInput__Header {
    font-size: 3em;
    margin: 20px 0;
    font-style: oblique; }
  .KeyInput__ButtonBox {
    font-size: 16px; }
    @media (min-width: 600px) {
      .KeyInput__ButtonBox {
        font-size: 18px; } }
  .KeyInput__Icon {
    margin: auto auto;
    font-size: 2em;
    flex-shrink: 2;
    text-shadow: 0 1px white;
    width: 100%; }
  .KeyInput__Input {
    color: #434857;
    font-size: 1.8em;
    margin: 20px auto;
    margin-top: 10px;
    padding: 5px 0;
    width: 95%;
    text-align: center;
    outline-color: lightblue;
    flex-grow: 5; }
    @media (min-width: 600px) {
      .KeyInput__Input {
        width: 60%;
        font-size: 1.4em; } }

.confirm {
  color: #99c999;
  margin: 0 20px; }
  .confirm:hover {
    transition: 0.7s;
    color: #49d449; }

.clear {
  color: #da8c8c;
  margin: 0 20px; }
  .clear:hover {
    transition: 0.7s;
    color: #d84343; }
