.KeyInput {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 50px auto;
  transition: 0.3s;
  border-radius: 5px;
  color: #8792b6; }
  .KeyInput__Header {
    font-size: 3em;
    margin: 20px 0;
    font-style: oblique; }
  .KeyInput__ButtonBox {
    display: flex;
    justify-content: center; }
  .KeyInput__Icon {
    margin: auto auto;
    font-size: 2em;
    flex-shrink: 2;
    text-shadow: 0 1px white;
    width: 100%; }
  .KeyInput__Input {
    color: #434857;
    font-size: 1.4em;
    margin: 20px auto;
    padding: 5px 10px;
    width: 80%;
    text-align: center;
    outline-color: lightblue;
    flex-grow: 5;
    width: 100%; }
