.KeyInput {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 50px auto;
  transition: 0.3s;
  border-radius: 5px;
  color: rgb(135, 146, 182);

  &__Header {
    font-size: 3em;
    margin: 20px 0;
    font-style: oblique;
  }

  &__ButtonBox {
    display: flex;
    justify-content: center;
  }

  &__Icon {
    font-size: 2em;
    padding: 0 20px;
    text-shadow: 0 1px rgb(255, 255, 255);
  }

  &__Input {
    color: rgb(67, 72, 87);
    font-size: 1.4em;
    margin: 20px auto;
    padding: 5px 10px;
    width: 80%;
    text-align: center;
    outline-color: lightblue;
  }
}


