.AddUser {
  background-color: #f0ffd7;
  z-index: 200;
  width: 90%;
  height: 80%;
  position: absolute;
  margin: auto auto;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column; }
  @media (min-height: 550px) {
    .AddUser {
      height: 70%; } }
  @media (min-height: 700px) {
    .AddUser {
      height: 50%; } }
  @media (min-width: 750px) {
    .AddUser {
      width: 80%; } }
  @media (min-width: 850px) {
    .AddUser {
      width: 70%; } }
  @media (min-width: 800px) {
    .AddUser__Inputbox {
      padding-top: 1em; } }
  .AddUser__Title {
    text-align: center;
    font-size: 1.8em;
    color: #00aa00; }
  .AddUser__Close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 15px;
    font-size: 2em; }
