.AddUser {
  background-color: rgb(240, 255, 215);
  z-index: 200;
  width: 90%;
  height: 80%;
  position: absolute;
  margin: auto auto;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  @media (min-height: 550px) {
    height: 70%;
  }

  @media (min-height: 700px) {
    height: 50%;
  }

  @media (min-width: 750px) {
    width: 80%;
  }

  @media (min-width: 850px) {
    width: 70%;
  }

  &__Inputbox {
    @media (min-width: 800px) {
      padding-top: 1em;
    }
  }

  &__Title {
    text-align: center;
    font-size: 1.8em;
    color: rgb(0, 170, 0);
  }

  &__Close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 15px;
    font-size: 2em;
  }
}
