.CreateForm {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100vh;
  text-align: center;
  padding-top: 5em; }
  @media (min-width: 600px) {
    .CreateForm {
      font-size: inherit; } }
  @media (min-height: 600px) {
    .CreateForm {
      font-size: 0.9em; } }
  .CreateForm__Header {
    font-size: 2.2em; }
    @media (min-height: 600px) {
      .CreateForm__Header {
        margin-bottom: 0.5em; } }
  .CreateForm .Logo {
    display: none;
    background: -webkit-linear-gradient(#434343, black);
    background-clip: text;
    font-size: 6em;
    margin-top: 0.1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    @media screen and (min-height: 400px) {
      .CreateForm .Logo {
        display: block; } }
    @media (min-width: 600px) {
      .CreateForm .Logo {
        font-size: 8em; } }
    @media (min-height: 600px) {
      .CreateForm .Logo {
        margin: 0.2em 0; } }
  .CreateForm__ButtonBox {
    margin-top: 10px;
    box-sizing: border-box; }
    @media (min-width: 600px) {
      .CreateForm__ButtonBox {
        font-size: 14px; } }

.confirm {
  color: #99c999; }
  .confirm:hover {
    transition: 0.7s;
    color: #49d449; }
  @media (min-width: 600px) {
    .confirm {
      margin: 0 30px !important; } }

.clear {
  color: #da8c8c; }
  .clear:hover {
    transition: 0.7s;
    color: #d84343; }
  @media (min-width: 600px) {
    .clear {
      margin: 0 30px !important; } }
