.Menu {
  position: relative;
  height: 100%;
  z-index: 100;
  width: 100%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)), url("../../assets/bg.png");
  background-size: cover; }
  .Menu__Header {
    background-color: #798397; }
  .Menu__Options {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.8em;
    height: 100%; }
  .Menu__Option {
    border-top: 1px solid black;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    text-decoration: none;
    color: #3f3f3f;
    height: 50px;
    line-height: 50px; }
    @media (min-height: 500px) {
      .Menu__Option {
        height: 60px;
        line-height: 60px; } }
    @media (min-height: 600px) {
      .Menu__Option {
        height: 70px;
        line-height: 70px; } }
  .Menu__Option:last-child {
    border-bottom: 1px solid black; }

.MenuContainer {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%; }

._Container {
  height: 100vh;
  width: 100%;
  position: absolute;
  font-size: 14px; }
