.Landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  font-size: 0.8em;

  &__Logo {
    margin-top: auto;
    padding-top: 0.5em;
    background: -webkit-linear-gradient(#434343, black);
    background-clip: text;
    font-size: 8em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (min-width: 600px) {
    font-size: 1em;
  }
}
