.Landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f0;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  font-size: 0.8em; }
  .Landing__Logo {
    margin-top: auto;
    background: -webkit-linear-gradient(#434343, black);
    background-clip: text;
    font-size: 8em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  @media (min-width: 600px) {
    .Landing {
      font-size: 1em; } }
