.DeleteLeaderboard {
  background-image: linear-gradient(to right, #ffd2d2, #ffa7a7);
  z-index: 100;
  width: 90%;
  height: 80%;
  position: absolute;
  margin: auto auto;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-shadow: 1px 1px 2px black; }
  @media (min-width: 600px) {
    .DeleteLeaderboard {
      width: 70%; } }
  @media (min-width: 750px) {
    .DeleteLeaderboard {
      width: 60%; } }
  @media (min-height: 550px) {
    .DeleteLeaderboard {
      height: 60%; } }
  @media (min-height: 700px) {
    .DeleteLeaderboard {
      height: 50%; } }
  .DeleteLeaderboard__Title {
    text-align: center;
    font-size: 1.8em;
    margin-top: 1em;
    color: red; }
  .DeleteLeaderboard__Close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 15px;
    font-size: 2em; }

.Button {
  margin: 0 auto; }
