.Header {
  height: 2.8em;
  line-height: 2.5em;
  width: 100%;
  background-image: linear-gradient(to left, #292929 20%, black 100%);
  text-align: center;
  font-size: 1.6em;
  color: #fff;
  position: absolute;
  border-bottom: 1px solid rgb(200, 200, 200);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  transition: transform 0.3s ease-out;
  user-select: none;

  &__Name {
    text-shadow: 1px 1px black;
    width: 100%;

    @media (min-width: 400px) {
      flex-shrink: 1;
    }
  }

  &__Logo {
    width: 100%;
    flex-shrink: 2;
    display: none;
    color: white;
    text-decoration: none;

    @media (min-width: 400px) {
      display: block;
    }

    i {
      display: none;

      @media (min-width: 400px) {
        display: block;
      }
    }

    @media (min-width: 400px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 40px;
    }
  }

  &__Container {
    width: 100%;

    @media (min-width: 400px) {
      flex-shrink: 2;
      width: 100%;
    }

    &--Link {
      display: none;
      font-size: 0.8em;

      @media (min-width: 600px) {
        display: flex;
        justify-content: space-around;
      }

      @media(min-width: 800px) {
        font-size: 1em;
      }
    }

    &--Menu {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 60px;

      @media (min-width: 400px) {
        width: 100%;
      }

      @media (min-width: 600px) {
        display: none;
      }
    }
  }

  &__Menu {
    display: block;
    font-size: 0.75em;
    width: 30px;
    height: 19px;
    position: relative;
    margin: auto auto;

    @media (min-width: 600px) {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 3px;
      width: 30px;
      background-color: white;
      transform-origin: 0 0;
      transition: transform 0.3s ease-out;
      border-radius: 2px;
    }

    &__Middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 30px;
      height: 3px;
      background-color: white;
      transition: all 0.3s ease-out;
      transform-origin: 0 50%;
      border-radius: 2px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 30px;
      height: 3px;
      background-color: white;
      transform-origin: 0 100%;
      transition: transform 0.3s ease-out;
      border-radius: 2px;
    }
  }

  &__Link {
    display: none;
    
    @media (min-width: 600px) {
      text-decoration: none;
      color: white;
      margin-right: 20px;
      display: block;
      outline: none;      
    }

  }

  @media (min-width: 480px) {
    display: flex;
  }

  .Active {
    text-decoration: underline;
  }
}


