.Header {
  height: 2.5em;
  line-height: 2.5em;
  width: 100%;
  background-image: linear-gradient(to left, #292929 20%, black 100%);
  text-align: center;
  font-size: 1.8em;
  color: #fff;
  position: absolute; }
  .Header__Name {
    text-shadow: 1px 1px black; }
  .Header__Logo {
    display: none; }
    @media (min-width: 600px) {
      .Header__Logo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 45px; } }
  .Header__Options {
    display: none;
    font-size: 0.75em;
    padding: 0 0; }
  @media (min-width: 480px) {
    .Header {
      display: flex; }
      .Header__Options {
        display: flex;
        list-style-type: none;
        margin-left: auto;
        margin-top: 0; } }
