.Header {
  height: 2.5em;
  line-height: 2.5em;
  width: 100%;
  background-color: #ccc;
  text-align: center;
  font-size: 1.8em;

  &__Logo {
    color: #fff;    
    padding-left: 0.5em;
    font-weight: 700;
    text-shadow: 2px 2px black;
  }

  &__Options {
    display: none;
    font-size: 0.75em;
    padding: 0 0;
  }

  @media (min-width: 480px) {
    display: flex;

    &__Logo {
    
    }
  
    &__Options {
      display: flex;
      list-style-type: none;
      margin-left: auto;
      margin-top: 0;
    }

  }
}
