.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 5em;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('../../assets/bg.png');
  background-size: cover;

  &__Title {
    font-size: 2em;
    font-weight: 600;
    text-align: center;

    @media (min-height: 700px) {
      padding-bottom: 1.5em;
    }

    @media (min-width: 800px) {
      font-size: 2.5em;
    }
  }

  &__Description {
    width: 95%;
    margin: 0 auto;
    font-size: 0.8em;

    @media (min-width: 600px) {
      font-size: 0.9em;
    }

    @media (min-width: 800px) {
      font-size: 1em;
      width: 80%;
    }

    @media (min-width: 1000px) {
      width: 60%;
    }

    a {
      color: rgb(0, 174, 255);
      text-decoration: none;
    }
  }
}
