.Button {
  background: black;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: relative;
  height: 45px;
  width: 90px;
  font-size: 16px;
  padding: 0 0px;
  cursor: pointer;
  transition: 200ms ease-out all;
  outline: none;
  margin: 5px 2% !important;
  height: 40px;
  width: 100px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3), 1px -1px 0 rgba(0, 0, 0, 0.3),
    -1px 1px 0 rgba(0, 0, 0, 0.3), 1px 1px 0 rgba(0, 0, 0, 0.3);

  @media (min-width: 900px) {
    width: 140px;
    font-size: 20px;
  }

  &--Confirm {
    background-color: rgb(119, 209, 119);

    &:active {
      background-color: rgb(187, 235, 187);
    }
  }

  &--Cancel {
    background-color: rgb(240, 137, 137);

    &:active {
      background-color: rgb(250, 185, 185);
    }
  }

  &--Logout {
    background-color: rgb(66, 66, 66);
  }
}
