.Button {
  background: black;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: relative;
  height: 45px;
  width: 90px;
  font-size: 16px;
  padding: 0 0px;
  cursor: pointer;
  transition: 200ms ease-out all;
  outline: none;
  margin: 5px 2% !important;
  height: 40px;
  width: 100px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3), 1px -1px 0 rgba(0, 0, 0, 0.3), -1px 1px 0 rgba(0, 0, 0, 0.3), 1px 1px 0 rgba(0, 0, 0, 0.3); }
  @media (min-width: 900px) {
    .Button {
      width: 140px;
      font-size: 20px; } }
  .Button--Confirm {
    background-color: #77d177; }
    .Button--Confirm:active {
      background-color: #bbebbb; }
  .Button--Cancel {
    background-color: #f08989; }
    .Button--Cancel:active {
      background-color: #fab9b9; }
  .Button--Logout {
    background-color: #424242; }
