.Button {
  background: black;
  color: #fff;
  border: none;
  border-radius: 10px;
  position: relative;
  height: 45px;
  width: 90px;
  font-size: 16px;
  padding: 0 0px;
  cursor: pointer;
  transition: 200ms ease-out all;
  outline: none; }
  @media (min-width: 700px) {
    .Button {
      margin: auto 2% !important; } }
  @media (min-width: 900px) {
    .Button {
      width: 100px;
      font-size: 20px; } }
  .Button--Confirm {
    background-color: #77d177; }
    .Button--Confirm:active {
      background-color: #bbebbb; }
  .Button--Cancel {
    background-color: #f08989; }
    .Button--Cancel:active {
      background-color: #fab9b9; }
  .Button--Logout {
    background-color: black; }
