.LeaderboardInfo {
  width: 100%;
  background-color: rgba(24, 161, 0, 0.5);
  font-size: 1.1em;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6), 1px -1px 0 rgba(0, 0, 0, 0.6), -1px 1px 0 rgba(0, 0, 0, 0.6), 1px 1px 0 rgba(0, 0, 0, 0.6);
  line-height: 2.2rem;
  color: white; }
  @media (min-width: 600px) {
    .LeaderboardInfo {
      background-color: transparent;
      font-size: 0.9em;
      background-image: linear-gradient(to bottom, #84b4f7 35%, rgba(126, 167, 224, 0.4) 70%, transparent); } }
  @media (min-width: 1000px) {
    .LeaderboardInfo {
      font-size: 1.2em; } }
  @media (min-width: 600px) {
    .LeaderboardInfo {
      height: 100%; } }
  .LeaderboardInfo__Block {
    display: none;
    color: #ff9595; }
    @media (min-height: 600px) {
      .LeaderboardInfo__Block {
        display: flex;
        flex-direction: column;
        color: white;
        background-color: #141414;
        text-align: center;
        font-size: 1.5em;
        justify-content: center;
        height: 3em;
        font-weight: 100; } }
